@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-btn {
  width: 20px;
  height: 24px;
  position: relative;
  margin: 3px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.hamburger-btn span:nth-child(1) {
  top: 4px;
}

.hamburger-btn span:nth-child(2) {
  top: 10px;
}

.hamburger-btn span:nth-child(3) {
  top: 16px;
}

.hamburger-btn.open span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
}

.hamburger-btn.open span:nth-child(2) {
  left: 30px;
}

.hamburger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 3px;
}

.form-checkbox:checked:hover,
.form-checkbox:checked:focus,
.form-radio:checked:hover,
.form-radio:checked:focus {
  border-color: transparent;
  background-color: rgb(101, 98, 191);
  background-image: none;
}
